$className: 'slider-img__item';

.#{$className} {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
}

@include breakPoint ($className, $tabletWidth) {
  margin-right: 15px;
}