$className: 'proposal__title';

.#{$className} {
  font-size: 60px;
  line-height: 1.15;
}

@include breakPoint ($className, $tabletWidth) {
  font-size: 33px;
  line-height: 1.12;
  padding: 0 30px;
}

@include breakPoint ($className, 399px) {
  padding: 0 20px;
  font-size: 26px;
  line-height: 1.2;
}