.button {
  width: 240px;
  height: 54px;
  border: none;
  border-radius: 8px;
  color: $darkAccent;
  background-color: $SubColor;
  font-family: $primaryFont;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    opacity: 93%;
  }

  &:disabled {
    background-color: $SubColor;
    opacity: 100%;
    cursor: default;
  }
}

@media screen and (max-width: 967px) {
  .button {
    height: 48px;
    font-size: 14px;
  }
}

@media screen and (max-width: 510px) {
  .button {
    height: 44px;
    width: 260px;
    font-size: 12px;
    line-height: 2;
  }
}