.about__img-list {
  margin: 120px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .about__img-list {
    margin: 70px 0;
  }
}

@media screen and (max-width: $mobileWidth) {
  .about__img-list {
    display: none;
  }
}