.subtitle_place_header {
  margin-top: 28px;
  width: 450px;
}

@media screen and (max-width: 967px) {
  .subtitle_place_header {
    margin-top: 20px;
    font-size: 15px;
    width: 360px;
  }
}

@media screen and (max-width: 767px) {
  .subtitle_place_header {
    justify-self: center;
  }
}

@media screen and (max-width: 626px) {
  .subtitle_place_header {
    margin-top: 14px;
    font-size: 12px;
    width: 260px;
  }
}