.footer__image {
  background-image: url(../images/footer_image.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -30px;
  right: 110px;
  width: 311px;
  height: 630px;
  filter: $shadow;
  -webkit-filter: $shadow;
}

@media screen and (max-width: 832px) {
  .footer__image {
    width: 250px;
    height: 502px;
    right: 69px;
  }
}

@media screen and (max-width: 679px) {
  .footer__image {
    display: none;
  }
}