$className: 'header__wrapper';

.#{$className} {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) auto;
  grid-template-rows: repeat(5, min-content);
  align-items: start;
  min-height: 640px;
}

@include breakPoint ($className, 967px) {
  min-height: 0;
}

@include breakPoint ($className, $tabletWidth) {
  padding: 0 50px;
}

@include breakPoint ($className, 767px) {
  grid-template-columns: auto;
  justify-content: center;
}

@include breakPoint ($className, 483px) {
  padding: 0 20px;
}