.form__input {
  padding-left: 20px;
  height: 54px;
  border: none;
  border-radius: 8px;

  &::placeholder {
    color: $primaryFontColor;
    opacity: 30%;
  }
}

@media screen and (max-width: 510px) {
  .form__input {
    &::placeholder {
      font-size: 12px;
      line-height: 2;
    }
  }
}