$className: 'title_size_big';

.#{$className} {
  font-size: 60px;
  line-height: 1.15;
}

@include breakPoint ($className, 967px) {
  font-size: 33px;
  line-height: 1.12;
}

@include breakPoint ($className, 320px) {
  font-size: 26px;
  line-height: 1.2;
}