$className: 'header__image';

.#{$className} {
  background-image: url(../images/header_image.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 40px;
  width: 311px;
  height: 630px;
  margin-right: 60px;
  margin-left: 43px;
  filter: $shadow;
  -webkit-filter: $shadow;
  grid-column: 2;
  grid-row: 1/6;
  z-index: 2;
}

@include breakPoint ($className, 967px) {
  width: 250px;
  height: 502px;
  top: 120px;
  margin-left: 43px;
}

@include breakPoint ($className, 767px) {
  width: 260px;
  height: 522px;
  top: 0;
  grid-column: 1/2;
  grid-row: 4/5;
  margin: 50px 0 0;
  justify-self: center;
}