$className: 'header';

.#{$className} {
  background-color: $darkAccent;
  width: 100%;
  border-radius: 20px;
  color: $SubColor;
  display: grid;
  grid-template-columns: minmax(min-content, 650px) auto;
  grid-template-rows: repeat(5, min-content);
  align-items: start;
  min-height: 640px;
}

@include breakPoint ($className, 1050px) {
  min-height: 0;
}

@include breakPoint ($className, $tabletWidth) {
  padding: 0 50px;
}

@include breakPoint ($className, 767px) {
  grid-template-columns: auto;
  justify-content: center;
}

@include breakPoint ($className, 488px) {
  text-align: center;
}

@include breakPoint ($className, 320px) {
  padding: 0 20px;
  border-radius: 10px;
  text-align: start;
}