$className: 'header__subtitle';

.#{$className} {
  margin-top: 28px;
  font-size: 18px;
  line-height: 1.4;
  width: 450px;
  opacity: 70%;
  color: $secondaryFontColor;
}

@include breakPoint ($className, 1050px) {
  margin-top: 20px;
  font-size: 15px;
  width: 360px;
}

@include breakPoint ($className, 767px) {
  justify-self: center;
}

@include breakPoint ($className, 626px) {
  margin-top: 14px;
  font-size: 12px;
  width: 260px;
}