.slider-img {
  display: none;
  overflow: hidden;
  position: relative;
  margin: 70px 0;
}

@media screen and (max-width: $mobileWidth) {
  .slider-img {
    display: block;
    padding: 0 20px;
  }
}