$className: 'button_place_header';

.#{$className} {
  margin-top: 108px;
  margin-bottom: 50px;
}

@include breakPoint ($className, 1050px) {
  margin-top: 250px;
}

@include breakPoint ($className, 767px) {
  margin-top: 50px;
  justify-self: center;
  margin-bottom: 20px;
}