$primaryFont: "Inter",
Arial,
sans-serif;

$primaryFontColor: #111;
$secondaryFontColor: #fff;
$SubColor: #fff;
$darkAccent: #222;
$lightAccent: #f8f8f8;

$shadow: drop-shadow(0 4px 80px rgba(0, 0, 0, 0.25));