$primaryFont: "Inter",
Arial,
sans-serif;

// Цвета
$primaryFontColor: #111;
$secondaryFontColor: #fff;
$SubColor: #fff;
$darkAccent: #222;
$lightAccent: #f8f8f8;

// Разрешения
$tabletWidth: 768px;
$mobileWidth: 640px;

$shadow: drop-shadow(0 4px 80px rgba(0, 0, 0, 0.25));