.header__logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
  margin-top: 30px;
  align-self: start;
}

@media screen and (max-width: 483px) {
  .header__logo {
    margin-top: 20px;
  }
}