$className: 'title_place_header';

.#{$className} {
  font-weight: 700;
  margin-top: 60px;
}

@include breakPoint ($className, 967px) {
  margin-top: 50px;
}

@include breakPoint ($className, 626px) {
  font-size: 24px;
}