$className: 'title_place_form';

.#{$className} {
  margin-top: 60px;
  width: 500px;
  text-align: center;
}

@include breakPoint ($className, $tabletWidth) {
  margin-top: 30px;
}

@include breakPoint ($className, 767px) {
  width: 100%;
}

@include breakPoint ($className, 399px) {
  margin-top: 20px;
}