.title_place_about {
  margin-top: 120px;
}

@media screen and (max-width: 768px) {
  .title_place_about {
    padding: 0 30px;
    margin-top: 70px;
  }
}

@media screen and (max-width: 399px) {
  .title_place_about {
    padding: 0 20px;
  }
}